$form_blue: #1f8dfa;
$blue1: #0466c8;
$blue2: #0353a4;
$blue3: #023e7d;
$blue4: #002855;
$blue5: #001845;
$blue6: #001233;
$background: #242e42;
$presentation: #354158;
$gray1: #33415c;
$gray2: #5c677d;
$gray3: #7d8597;
$gray4: #979dac;
$white: #f5f3f4;
$font: "Source Sans Pro", sans-serif;
